<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <!--主样式文件-->
    <link href="/Content/Include/css/Main.min.css" rel="stylesheet" />
    <!--JQuery-->
    @*<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="/Content/Include/js/jquery-1.8.3.min.js"></script>
    <!-- json2 -->
    <script src="~/Content/Include/js/json2.js"></script>
    <!-- artTemplate -->
    <script src="/Content/Include/js/template.js"></script>
    <!--曼码JsLib-->
    <script src="/Content/Include/js/mammothcodeJsLib.js"></script>
    <!-- lazyload -->
    @*<script src="/Content/include/js/jquery.lazyload.min.js"></script>*@
    @*<script type="text/javascript">
        //返回
        function goBack(){history.go(-1)}
    </script>*@
</head>
<body id="body">
    <div class="wrap">
        @RenderBody()
    </div>
</body>
</html>
